
.wheel{
    width: 250px;
    height: 210px;
    background-color: #696969;
    /* border-radius: 10%; */
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 40%;
    transform: translate(-50px, -50px);
}

.outside-rounded-div {
    width: 200px;
    height: 200px;
    background-color: #ebecec;
    border-radius: 50%;
    display: flex;
    position: relative;
    user-select: none;
  }
  .inside-rounded-div{
    background-color: #696969;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .forward{
    display: flex;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
  }
  .backward{
    display: flex;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(40%, -50%);
  }
  .play-pause{
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -160%);
    
  }